* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: lightskyblue;
    width: 100%;
    padding: 10px 0;
  
    
}

/* LAYOUT */

.container-header {
    max-width: 1200px;
    margin: 0 auto;
}

.container-main {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col25 {
    width: 200px;
    height: 25px;
    background-color: blueviolet;
    border: 1px solid black;
}

.col50 {
    width: 800px;
    height: 25px;
    background-color: rgb(44, 157, 137);
    border: 1px solid black;
}

.col70 {
    width: 1000px;
    height: 200px;
    background-color: rgba(248, 108, 206, 0.816);
    border: 1px solid black;
    margin: 25px;
}

.col60 {
    width: 50%;
    height: 200px;
    background-color: rgba(28, 107, 255, 0.692);
    border: 1px solid black;
    margin: 25px;
}

.col40 {
    width: 50%;
    height: 200px;
    background-color: pink;
    border: 1px solid black;
    margin: 25px;
}


/* UTILITY */

.bg-blue {
    background-color: darkblue;
}

.bg-gray{
    background-color: lightgray;
}

.bg-darkgray {
    background-color: rgb(62, 63, 66);
}

.height-gray {
    height: 500px;
}

.justify-center {
    justify-content: center;
}
